POSTGRES_USER=0
POSTGRES_PASSWORD=0
POSTGRES_DB=0

DB_USER=0
DB_PASS=0
DB_HOST=0
DB_NAME=0
DB_PORT=0


SECRET_KEY=0
ALGORITHM=0
RABBITMQ_URL=0

SMTP_USERNAME=0
SMTP_PASSWORD=0
SMTP_SERVER=0
SMTP_PORT=0
SENDER_EMAIL=0

URL_FOR_TOKEN=0